# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
supa/

# Distribution / packaging
dist/
build/
*.egg-info/

# dotenv environment variable files
.env
.env.*
!.env.example

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
