services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://root:mysecretpassword@db:5434/local
      - SUPA_API_TOKEN=${SUPA_API_TOKEN}
      - BASE_HREF=${BASE_HREF:-https://api.supa.works/openai}
    depends_on:
      - db
  db:
    image: postgis/postgis:16-3.4
    restart: always
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
